<h1 class="mat-headline-1">{{titulo}}</h1>

<button mat-raised-button (click)="novo()">Novo</button>

<table mat-table [dataSource]="listaProdutos" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let produto">{{produto.id}}</td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let produto"> {{produto.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
  </ng-container>

    <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let produto">
      <button mat-button color="primary" (click)="editar(produto.id)">Alterar</button>
      <button mat-button color="warn" (click)="excluir(produto.id)">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>